@font-face {
  font-family: 'FiraMono';
  font-weight: 700;
  src: url('/public/static/fonts/FiraMono-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'FiraMono';
  font-weight: 500;
  src: url('/public/static/fonts/FiraMono-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'FiraMono';
  font-weight: 700;
  src: url('/public/static/fonts/FiraMono-Light.ttf') format('ttf');
}
