$Bold: 700;
$Medium: 500;
$Regular: 400;

@mixin font($weight) {
  @font-face {
    font-family: 'FiraMono';
    font-weight: $weight;
    src: url('/public/static/fonts/FiraMono-#{weight}.otf') format('otf');
  }
}
