.container {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  @media (max-width: 1440px) {
    width: 1024px;
  }
  @media (max-width: 1919px) {
    width: 1376px;
  }
}
