@mixin S12_Light {
  font-size: 12px;
  font-weight: 300;
}

@mixin S16_Light {
  font-size: 16px;
  font-weight: 300;
}

@mixin S18_Light {
  font-size: 18px;
  font-weight: 300;
}

@mixin S14_Regular {
  font-size: 14px;
  font-weight: 400;
}

@mixin S16_Medium {
  font-size: 16px;
  font-weight: 500;
}

@mixin S18_Medium {
  font-size: 18px;
  font-weight: 500;
}

@mixin S26_Bold {
  font-size: 26px;
  font-weight: 700;
}
